.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s;
}

.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mostrar apenas em telas pequenas */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
